<div>
  <div>
    <h2>My Shopping Bag <span class="pull-right">Order Total: {{ 0 | currency }}</span></h2>
    <table class="table table-bordered">
      <thead>
        <th>
          Product
        </th>
        <th>
          Quantity
        </th>
        <th>
          Sub-total
        </th>
      </thead>
      <tbody ng-repeat="tea in cart.items | orderBy:'quantity'">
        <tr>
          <td>
            <p>
              {{ tea.item.name }}
            </p>
          </td>
          <td>
            {{ tea.quantity }}
          </td>
          <td>
            {{ tea.item.price * tea.quantity | centsToDollars | currency }}
          </td>
          <td>
            <button class="btn btn-warning">Edit</button>
            <button class="btn btn-danger">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
