<div>
  <table class="table table-bordered">
    <thead>
      <th>
        Tea
      </th>
      <th>
        Information
        <label for="sortDropdown" class="pull-right">Sort by Price</label>
        <select name="sortDropdown" id="sortDropdown" ng-model="priceSort" class="pull-right">
          <option ng-repeat="(key, value) in {'Highest': '-price', 'Lowest':'price'}" value={{value}}>
            {{key}}
          </option>
        </select>
      </th>
    </thead>
    <tbody ng-repeat="tea in teas | filter:search:strict | orderBy:priceSort">
      <tr>
        <td>
          <tea-img tea="tea"></tea-img>
        </td>
        <td>
          <indiv-tea tea="tea"></indiv-tea>
        </td>
      </tr>
    </tbody>
  </table>
</div>
