<div>
  <div>
    <h2>My Shopping Bag <span class="pull-right">Order Total: {{ cart.totals.price | centsToDollars | currency }}</span></h2>
    <table class="table table-bordered checkout">
      <thead>
        <th>
          Product
        </th>
        <th>
          Quantity
        </th>
        <th>
          Sub-total
        </th>
      </thead>
      <tbody ng-repeat="tea in cart.items">
        <tr>
          <td>
            <h3>{{ tea.item.name }}</h3>
            <img ng-src="{{tea.item.imageUrl}}" />
            <br />
            <ul class="none">
              <li><strong>Caffeine Scale</strong>: {{ tea.item.caffeineScale }}</li>
              <li><strong>Ingredients</strong>: {{ tea.item.ingredients }}</li>
              <li><strong>Rating</strong>: {{ tea.item.rating }}</li>
            </ul>
          </td>
          <td>
            <span ng-show="cart.editQuantity">
              <input type="number" class="form-control" placeholder="New Quantity" ng-model="tea.quantity" />
            </span>
            <span ng-hide="cart.editQuantity">{{ tea.quantity }}</span>
          </td>
          <td>
            <strong>{{ tea.item.price * tea.quantity | centsToDollars | currency }}</strong>
          </td>
          <td>
            <button class="btn btn-warning" ng-click="cart.editQuantity = !cart.editQuantity"><span ng-show="cart.editQuantity">Save</span><span ng-hide="cart.editQuantity" ng-click="cart.editItems(tea)">Edit</span></button>
            <button class="btn btn-danger" ng-click="cart.removeItem(tea)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
